<div class="side-content">
  <div class="home-content">
    <h1>ホーム</h1>
  </div>
  <br>
  <div class="rank-content">
    <h1>ランキング</h1>
  </div>
  <br>
  <div class="category-content">
    <h1> カテゴリー </h1>
    <ul>
      <li>歌人<li>
      <li>詩人</li>
      <li>研究者</li>
      <li>キャラクター</li>
      <li>哲学者</li>
      <li>戦略化</li>
    </ul>
  </div>
  <br>
  <div class="tag-content">
    <h1>タグ</h1>
  </div>
</div>