<div class="scroll" data-max="20" data-lastnum="2">
  <div class="contents">
  <div class="container">
    <div class="jscroll">
      <h3>編集する</h3>
      <%= render partial: "form", locals: { lyric: @lyric } %>
    </div>
    </div>
  </div>
</div>