<div class="wrapper">
  <div class="left-side-bar">
    <%= render "left_side_bar" %>
  </div>
  <div class="main-bar">
    <%= render "main_bar" %>
  </div>
  <div class="right-side-bar">
    <%= render "right_side_bar" %>
  </div>
</div>