<div class="scroll" data-max="20" data-lastnum="2">
  <div class="contents">
  <h1>フォロワー</h1>
    <% @users.each do |user| %>
      <div class="content">
        <%= link_to image_tag(user.image.url, class: "icon-mini"), user_path(user.id)%>
        <%= link_to(user.nickname, user_path(@user.id)) %>
      </div>
    <% end %>
  </div>
</div>