<div class="contents">
  <div class="container">
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @lyrics.each do |lyric| %>
      <span class="word">
        <%= lyric.word %>
      </span>
      <p><%= lyric.text %></p>
    <% end %>
  </div>
</div>