<div class="side-content">
  <% if user_signed_in? %>
    <div class="user-edit-content">
      <%= link_to(content_tag(:i, nil, class: 'fas fa-user-edit edit-icon'),edit_user_registration_path(@id), method: :get) %>
      <%= link_to '編集', edit_user_registration_path(@id), method: :get %>
    </div>
    <div class="user-profile-content">
      <%= render "notifications/circle" %>
      <%= link_to '通知', notifications_path(@id), method: :get, class: "notice-word" %>
    </div>
  <% end %>
</div>