.header {
  background-color:rgb(15, 31, 15);
  border-bottom: 0.5px solid #757061;
  height: 50px;
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

.create-lyric {
  padding: 11px 28px;
  background-color: #b44f07;
  border-radius: 100vh;
  text-decoration: none;
}

.create-lyric:hover {
  background: #f56500;
}

/* .btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}
a.btn--radius {
   border-radius: 100vh;
} */

.wrapper {
  display: flex;
}

/* メインバー編集 */

.main-bar {
  background-color: rgb(15, 31, 15);
  width: calc(100vw - 300px);
}

.contents {
  font-size: 20px;
  color: white;
  background-color: rgb(15, 31, 15);
}

.content {
  border-top: 0.5px solid #757061;
  padding: 40px 20px;
}

.word {
  font-size: 18px;
}

.user-name {
  text-align: right;
}

.right-content {
  text-align: right;
}

/* リリック投稿機能 */

h3{
  margin-top: 10px;
}

.new-contents{
  color:white;
  background-color: rgb(15, 31, 15);
  height: 100vh;
}

.container{
  margin: 0 auto;
  text-align: center;
  width: 500px;
  height: 500px;
  border: 0.5px solid #757061;
}

form input,
form textarea {
  color: #fff;
  width: 100%;
  margin: 10px 0;
  background-color: rgb(15, 31, 15);
  padding: 10px;
  border: 0.5px solid #757061;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  width: 180px;
  background-color: #b44f07;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #f56500;
}

/* サイドバー編集 */
.left-side-bar {
  background-color:rgb(15, 31, 15);
  width: 400px;
  height: 100vh;
  border-right: 0.5px solid #757061;
}

.right-side-bar {
  background-color: rgb(15, 31, 15);
  width: 400px;
  height: 100vh;
  border-left: 0.5px solid #757061;
}

