/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

* {
  margin: 0px;
  padding: 0px;
}
  

.header {
  background-color:rgb(15, 31, 15);
  border-bottom: 0.5px solid rgb(31, 48, 31);
  height: 55px;
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #eeeeee;
}


.create-lyric {
  margin-left: 20px;
  padding: 11px 27px;
  background-color: #b44f07;
  border-radius: 100vh;
  text-decoration: none;
}

.create-lyric:hover {
  background: #f56500;
}

.post {
  padding: 11px 27px;
  background-color: #b44f07;
  border-radius: 100vh;
  text-decoration: none;
}

.post:hover {
  background: #f56500;
}

.header-main{
  margin:10px 0;
  margin-right: auto;
}

.search-form{
  margin: 10px 0;
  display: flex;
}

.search-form input,
.search-form form{
  margin: 10px 0;
}

.search-input{
  color: white;
  border: 0.5px solid rgb(31, 48, 31);
  background-color: rgb(10, 20, 10);
  padding-left: 10px;
  width: 600px;
}

.search-btn{
  background-color: rgb(31, 48, 31);
  color: #eeeeee;
}

.search-form input[type="submit"]{
  padding: 4px 15px;
  border: none;
}

.search-form input[type="submit"]:hover{
  background-color: rgb(46, 73, 46);
}

.header-left {
  width: 260px;
}

.header-right {
  display: flex;
  align-items: center;
}

.user-name{
  text-align: center;
  margin-right: 20px;
}

.wrapper {
  display: flex;
}

.icon-image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.icon-mini {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
}

.user-right {
  display:flex;
}

.user-profile {
  padding: 20px;
}

/************ コメント機能 *************/
.comments {
  margin-top: 20px;
}

.comment {
  text-align: left;
  border-top: 0.5px solid rgb(31, 48, 31);
  padding: 40px 0;
  background-color: rgb(10, 20, 10);
}

.comment:hover {
  background-color: rgb(13, 32, 13);
  transition-duration: 0.2s;
}

/* .comment:hover {
  background-color: rgb(13, 32, 13);
  transition-duration: 0.2s;
} */

/* 通知機能 */

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

/* メインバー編集 */

.main-bar {
  background-color: rgb(15, 31, 15);
  width: calc(100vw - 300px);
  height: calc(100vh - 55px); 
}

.contents {
  font-size: 20px;
  color: white;
  background-color: rgb(13, 26, 13);
  height: calc(100vh - 55px);
}

.tem {
  height: 100vh;
}

.content {
  position: relative;
  background-color: rgb(13, 26, 13);
  border-top: 0.5px solid rgb(31, 48, 31);
}

.hi-content {
  padding: 40px 20px;
}

.low-content{
  padding: 10px;
  display:flex;
  justify-content: space-between;
}

.link-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* .like-btn{
  position: relative;
} */

.content:hover{
  background-color: rgb(13, 32, 13);
  transition-duration: 0.2s;
}

/* ***** いいね機能 ****** */

.like-btn {
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: #808080; 
  margin-left: 20px;
  }
 
.unlike-btn {
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
}

/* .com {
  margin: 0 auto;
  text-align: center;
  border: 0.5px solid rgb(31, 48, 31);
  width: 700px;
} */

.word {
  font-size: 20px;
}

.user-name {
  text-align: right;
}

.right-content {
  z-index: 2;
  display: inline-block;
}

.left-content {
  z-index: 2;
  margin: 10px auto 0 0;
  display:inline-block;
}

/******** 無限スクロール *********/

.scroll {
  overflow:auto;
}

/* .scroll img {
	height:180px;
	display:block;
	margin:1px;
} */

/* リリック投稿機能 */

h3{
  margin-top: 10px;
  font-size: 16px;
}

.container{
  margin: 0 auto;
  text-align: center;
  width: 700px;
  height: 100%;
  border: 0.5px solid rgb(31, 48, 31);
}

.follow form input,
.contents form input,
.contents form textarea {
  color: #fff;
  width: 100%;
  margin: 10px 0;
  background-color: rgb(15, 31, 15);
  padding: 10px;
  border: 0.5px solid rgb(31, 48, 31);
  font-family: "游ゴシック", "YuGothic";
}

.follow form input[type="submit"],
.content form input[type="submit"],
.container form input[type="submit"] {
  width: 180px;
  background-color: #b44f07;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

.follow form input[type="submit"]:hover,
.content form input[type="submit"]:hover,
.container form input[type="submit"]:hover {
  background-color: #f56500;
}

/* フォロー機能 */

.follow {
  padding:30px 0;
}

/* サイドバー編集 */
.left-side-bar {
  background-color:rgb(15, 31, 15);
  color: white;
  width: 400px;
  height: calc(100vh - 55px);
  border-right: 0.5px solid rgb(31, 48, 31);
}

.side-content {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}


.right-side-bar {
  background-color: rgb(15, 31, 15);
  color: white;
  width: 400px;
  height: calc(100vh - 55px);
  border-left: 0.5px solid rgb(31, 48, 31);
}

